{% extends "base_generic.html" %}

{% block content %}
<h1 class="title">Local Movies Library</h1>

<p>Welcome to <em>The Local Movies Library</em>, a very basic Django website developed whit the help of this  <a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Tutorial_local_library_website">tutorial example</a> on the Mozilla Developer Network, and <a href="https://campus.open-bootcamp.com">OpenBootcamp</a>.</p>
<p>The tutorial demonstrates how to create a Django skeleton website and application, define URL mappings, views (including Generic List and Detail Views), models and templates.</p>
<p>This site is more basic than the one developed in the tutorial, and it's related to movies as it's the resolution of the 12th chapter's exercice of python's course in OpenBootcamp.</p>

<h2>Dynamic content</h2>

<p>The library has the following record counts:</p>
<ul>
    <li><strong>Movies:</strong> {{ num_movies }}</li>
    <li><strong>Directors:</strong> {{ num_directors }}</li>
</ul>

{% endblock %}
