{% extends "base_generic.html" %}

{% block content %}
    <h1>Directors List</h1>

    {% if director_list %}
    <ul>

      {% for director in director_list %}
      <li>
	  <a href="{{ director.get_absolute_url }}">
	      {{ director }} ({{director.date_of_birth}} - {% if author.date_of_death %}{{director.date_of_death}} {% endif %})
	  </a>
      </li>
      {% endfor %}

    </ul>

    {% else %}
      <p>There are no directors in the library.</p>
    {% endif %}       
{% endblock %}
